.input__sugestoes {
    width: inherit;
    /* max-width: 500px; */
    /* position: relative; */
}

.input__ul {
    background-color: white;
    /* width: 100%; */
    border: solid 1px black;
    /* position: absolute; */
    margin-block-start: 0;
    padding-inline-start: 10px;
}

.input__li {
    /* position: relative; */
    list-style-type: none;
    cursor: pointer;
}